* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --shadow: 3px 4px 10px #534940, inset 3px 5px 8px #534940;
    --text-shadow_dark: 2px 2px 8px #281a0b, -2px -1px 8px #281a0b;
    --text-shadow_light: -3px 1px 20px #fff;
    --text-shadow_gold: 2px 2px 8px #FFC04D;
    --sans: 'Oswald', sans-serif;
    --serif: 'Merriweather', serif;
    --deco: 'Yesteryear', cursive;
}

body {
    background-image: linear-gradient(#736D5C, #291C11);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page-container {
    display: grid;
    width: 87%;
    max-width: 1400px;
    margin: 0 auto;
    border: solid 1px #8b8676;
    box-shadow: 3px 3px 8px #291C11;
}

.page-container_home {
    grid-template-columns: 40% 60%;
    grid-template-rows: 40px auto auto 45px;
    grid-template-areas: 'sitenav socialnav''info content''info content''footer footer';
    background-image: url(/images/wainscot-background.jpg), url(/images/plaster-background.jpg);
    background-size: 35% 57%, 100% 100%;
    background-repeat: repeat-x, no-repeat;
    background-position-y: bottom, top;
}

.home_shop-info {
    max-width: 540px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: info;
    text-align: center;
}

.home_shop-info>* {
    width: 100%;
}

.home_biz-name {
    font-size: 5px;
    opacity: 0.1;
    position: absolute;
    top: 24%;
    color: #BEBAA4;
}

.tagline {
    font-family: var(--serif);
    font-size: 30px;
    font-weight: 900;
    color: #4D2F17;
    position: absolute;
    top: 25%;
    margin: 0 10%;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 1.2em;
    text-shadow: var(--text-shadow_light);
}

.home_contact {
    margin-top: -10px;
}

.contact_address,
.contact_phone {
    display: inline-block;
    padding: 0 3%;
    text-transform: uppercase;
    font-family: var(--sans);
    text-shadow: var(--text-shadow_light);
    vertical-align: top;
    text-align: center;
}

.contact_address {
    font-size: 22px;
    font-weight: 500;
    color: #002080;
    line-height: 1.35em;
}

.address_google-maps {
    display: block;
    text-decoration: none;
}

.address_google-maps span {
    display: block;
}

.address_google-maps:hover {
    color: #2080df;
}

.contact_phone a {
    font-size: 30px;
    font-weight: 600;
    color: #A81F09;
    text-decoration: none;
    line-height: 1.35em;
}

.home_hours {
    width: 80%;
    text-shadow: var(--text-shadow_dark);
    color: #FFC04D;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
}

.home_hours_open {
    font-family: var(--deco);
    font-size: 40px;
    color: #F7F4E6;
    display: inline-block;
    margin-right: 100%;
    transform: rotateZ(-10deg);
}

.home_hours_days {
    padding: 5px 0 12px 0;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    margin: -12px auto 12px auto;
}

.home_hours_column {
    font-family: var(--sans);
    display: inline-block;
    width: 48%;
    font-size: 22px;
    font-weight: 400;
    color: #FFC04D;
    line-height: 1.35em;
}

.home_hours_am-pm {
    font-size: 16px;
}

.home_hours_closed {
    font-family: var(--serif);
    font-style: italic;
    font-size: 17px;
    margin-top: 0.6em;
}

.pricing {
    padding-right: 10px;
}

.parking {
    display: inline-block;
    height: 110px;
    width: 110px;
    background-image: url(/images/starburst.svg);
    background-repeat: no-repeat;
    color: #fff;
    font-family: var(--serif);
    font-style: italic;
    transform: rotateZ(-16deg);
    padding-top: 22px;
    position: relative;
    left: 25px;
    z-index: 50;
    vertical-align: top;
}

.pricing_board {
    display: inline-block;
    width: 45%;
    min-width: 185px;
    padding: 15px 20px 30px 20px;
    background-image: url(/images/painted-board.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    border-radius: 20px;
    z-index: 40;
}

.pricing_cash {
    font-family: var(--sans);
    font-size: 18px;
    font-weight: 500;
    color: #A81F09;
    margin-bottom: 10px;
}

.pricing_list {
    list-style: none;
    font-family: var(--serif);
    font-size: 18px;
    font-weight: 700;
    color: #002080;
    display: block;
    margin: 0 auto;
    border-top: solid 2px #A81F09;
    border-bottom: solid 2px #A81F09;
    padding: 10px 0 20px 0;
}

.pricing_list li {
    height: 20px;
}

.pricing_line {
    text-align: left;
    display: block;
    margin-top: -20px;
}

.pricing_ellipsis {
    border-bottom: dotted 2px #002080;
    clear: both;
}

.pricing_service,
.pricing_price {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
    text-align: left;
    text-transform: capitalize;
    padding: 0 4px;
    z-index: 100;
}

.pricing_price {
    float: right;
    text-align: right;
}

.home_content {
    grid-area: content;
}

.home_pic {
    display: block;
    width: 96%;
    margin: 30px auto 0 auto;
    border: solid 4px #DBD3B8;
    box-shadow: 0 2px 5px #63401C;
}

.shield {
    width: 85%;
    margin: 0 auto;
    position: relative;
    top: -45px;
}

.shield img {
    object-fit: fill;
    width: 100%;
    max-height: 360px;
}

.home_intro {
    font-family: var(--serif);
    font-size: 17px;
    color: #291C11;
    text-align: center;
    line-height: 1.5;
    padding: 7%;
    position: absolute;
    top: 0;
}

.home_intro p {
    margin-bottom: 0.75em;
}

.emphasis {
    font-style: italic;
    font-size: 1.05em;
}

/* ===== NAVBAR ===== */
.subnav {
    height: 42px;
    text-transform: uppercase;
    vertical-align: middle;
    font-family: var(--sans);
    font-size: 18px;
    box-shadow: 0 2px 8px #352e29;
    position: fixed;
    top: 0;
}

nav li {
    display: inline-block;
    margin: 8px 25px;
}

nav li a {
    text-decoration: none;
    color: #fff;
}

.nav_main {
    background: #0D0D0C;
    grid-area: sitenav;
    width: 35%;
    max-width: 540px;
    z-index: 100;
}

.nav_social {
    background: #426663;
    grid-area: socialnav;
    width: 87%;
    max-width: 1400px;
    padding-left: 35%;
    z-index: 90;
}

footer {
    grid-area: footer;
    width: 100%;
    max-width: 1400px;
    height: 55px;
    font-size: 24px;
    font-family: var(--deco);
    text-align: right;
    color: #fff;
    padding: 12px 25px;
    z-index: 200;
    border-top: solid 1px #291C11;
    background-image: url(/images/leather.jpg);
    background-size: cover;
    position: relative;
    top: -10px;
}

/* ===== GALLERY PAGE =====  */
.page-container_gallery {
    grid-template-columns: 40% 60%;
    grid-template-rows: 40px 250px auto 45px;
    grid-template-areas: 'sitenav socialnav''logo header''content content''footer footer';
    background-image: url(/images/plaster-mobile.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    min-height: 1000px;
}

.window-logo,
.gallery_heading {
    grid-area: logo;
    margin: 30px auto 0 auto;
    max-width: 95%;
}

.gallery_heading {
    font-family: var(--deco);
    color: #9d947b;
    font-size: 26px;
    margin-top: 165px;
    text-shadow: var(--text-shadow_gold);
}

.gallery_header {
    grid-area: header;
    width: 95%;
    margin-top: 40px;
}

.gallery_blurb {
    font-family: var(--serif);
    font-size: 18px;
    color: #291C11;
    margin-top: 30px;
    width: 95%;
}

.gallery_blurb em {
    font-size: 16px;
    font-style: italic;
    padding: 0 4px;
}

.gallery_credits {
    font-family: var(--serif);
    font-size: 13px;
    display: block;
    margin-top: 14px;
    font-weight: 700;
    color: #63401C;
}

.gallery_content {
    grid-area: content;
    width: 97%;
    margin: 0 auto;
}

.gallery_container {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
}

.gallery_thumbnail {
    position: relative;
}

.gallery_thumbnail_link {
    margin: 15px;
    margin-top: 0;
    height: 195px;
    width: 200px;
    border: solid 4px #f6f4ee;
    box-shadow: 0 2px 15px #63401C;
    display: block;
    position: relative;
}

.gallery_thumbnail_overlay {
    font-family: var(--sans);
    font-weight: 400;
    position: absolute;
    height: 195px;
    width: 200px;
    top: 0;
    left: 15px;
    text-align: center;
    color: #fff;
    text-shadow: var(--text-shadow_dark);
    font-size: 20px;
    padding: 25% 10% 0 10%;
    opacity: 0;
    background-image: linear-gradient(to bottom right, rgba(99, 64, 28, 0.2), rgba(99, 64, 28, 0.9));
    transition: opacity 0.3s ease-in;
}

.gallery_thumbnail_overlay:hover {
    opacity: 1;
}

.gallery_overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    text-align: center;
    background: rgba(41, 28, 17, 0.75);
}

.gallery_pic-info {
    width: 95%;
    margin: 0 auto;
}

.gallery_caption {
    font-family: var(--serif);
    font-weight: 400;
    color: #f6f4ee;
    text-shadow: var(--text-shadow_dark);
    font-size: 17px;
    line-height: 1.5em;
    width: 75%;
    margin: 0 auto 15px auto;
}

.gallery_overlay img {
    max-height: 100%;
    max-width: 90%;
    opacity: 0;
    border: solid 4px #c1b48a;
    box-shadow: 2px 3px 20px #291C11;
    position: relative;
    top: -10px;
    transition: opacity 0.5s linear;
}

.gallery_nav {
    font-family: var(--sans);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    text-shadow: var(--text-shadow_dark);
}

.gallery_nav_btn {
    display: inline-block;
    margin: 5px 90px;
    width: 90px;
}

.gallery_nav a {
    display: inline-block;
    width: 100%;
    color: #fff;
    text-decoration: none;
    padding-bottom: 2px;
    background: #426663;
    box-shadow: 1px 2px 10px #291C11;
    border-radius: 2px;
}

.gallery_nav a:hover,
#gallery_close:hover {
    color: #FFC04D;
}

#gallery_close {
    color: #fff;
    background: #63401C;
    opacity: 0.8;
    width: 120px;
    position: relative;
    top: -28px;
}

.gallery_overlay:target {
    width: 87%;
    max-width: 1400px;
    height: auto;
    bottom: 0px;
    right: 0px;
    padding: 65px 0 100px 0;
    margin: 0 auto;
}

.gallery_overlay:target img {
    opacity: 1;
}

/* ===== MEDIA QUERIES =====  */
@media (min-width: 1500px) {
    .nav_social {
        padding-left: 550px;
    }
}

@media (max-width: 1375px) {
    .tagline {
        top: 23%;
        font-size: 27px;
    }

    .home_intro {
        font-size: 16px;
    }

    .contact_address {
        font-size: 20px;
        padding: 0;
    }

    .contact_phone {
        margin-left: 10px;
        font-size: 26px;
    }
}

@media (max-width: 1225px) {
    .page-container {
        width: 97%;
    }

    .nav_main {
        width: 39%;
    }

    .nav_social {
        width: 97%;
        padding-left: 39%;
    }

    .cartouche {
        margin-top: 10px;
    }

    .tagline {
        font-size: 26px;
    }

    .pricing_list {
        font-size: 17px;
    }

    .home_hours_column {
        font-size: 19px;
    }

    .home_hours_am-pm {
        font-size: 14px;
    }

    .home_hours_closed {
        font-size: 15px;
    }

    .shield img {
        height: 350px;
    }

    .gallery_overlay:target {
        width: 97%;
    }
}

@media (max-width: 1050px) {
    .tagline {
        font-size: 24px;
        top: 22%;
    }

    .contact_address {
        font-size: 18px;
    }

    .contact_phone {
        font-size: 24px;
        margin: 0;
    }

    .home_intro {
        line-height: 1.25em;
    }

    .shield {
        top: -35px;
    }
}

@media (max-width: 900px) {
    .tagline {
        font-size: 20px;
    }

    .contact_address {
        font-size: 16px;
    }

    .contact_phone {
        font-size: 22px;
    }

    .home_hours {
        width: 95%;
    }

    .parking {
        transform: rotateZ(-16deg) scale(0.85);
    }

    .pricing_board {
        min-width: 155px;
        padding: 5px 10px 15px 10px;
    }

    .pricing_list {
        font-size: 16px;
    }

    .home_intro {
        font-size: 14px;
        padding-top: 10%;
        line-height: 1.3em;
    }
}

@media (max-width: 800px) {
    .tagline {
        top: 20%;
        font-size: 18px;
    }

    .home_hours_column {
        font-size: 17px;
    }

    .home_hours_open {
        font-size: 32px;
        margin-right: 90%;
    }

    .parking {
        margin-left: -15%;
    }

    .home_intro {
        padding-top: 9%;
        line-height: 1.2em;
    }

    .shield {
        top: 10px;
    }

    .shield img {
        height: 305px;
    }

    /* .gallery_caption {
        font-size: 14px;
        width: 95%;
    } */
}

@media (max-width: 650px) {
    .page-container {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        padding-bottom: 0;
        background-image: url(/images/plaster-mobile.jpg);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: top;
    }

    .page-container_home {
        grid-template-areas: 'nav''info''content''footer';
    }

    .page-container_gallery {
        grid-template-areas: 'nav''logo''header''content''footer';
    }

    .window-logo {
        grid-area: logo;
        margin-top: 100px;
    }

    .gallery_header {
        width: 98%;
        text-align: center;
        margin-top: 20px;
    }

    .gallery_blurb {
        width: 95%;
        margin: 30px auto;
    }

    .gallery_content {
        margin-top: 10px;
    }

    .gallery_overlay:target {
        width: 100%;
        padding: 50px 0 100px 0;
    }

    .gallery_caption {
        font-size: 14px;
        width: 95%;
    }

    .gallery_nav_btn {
        width: 60px;
        margin: 5px 50px;
    }

    .gallery_nav a {
        border-radius: 2px;
    }

    #gallery_close {
        width: 70px;
    }

    .home_shop-info {
        grid-area: info;
        width: 100%;
        margin: 0 auto;
        top: 75px;
    }

    .tagline {
        top: 27%;
    }

    .contact_address {
        font-size: 22px;
    }

    .contact_phone {
        font-size: 30px;
    }

    .home_content {
        grid-area: content;
        margin: -30px 0;
    }

    .subnav {
        width: 100%;
        grid-area: nav;
        left: 0;
    }

    nav li {
        margin: 8px 30px;
    }

    .nav_main {
        max-width: none;
        box-shadow: none;
    }

    .nav_social {
        top: 40px;
        padding: 0;
        text-align: center;
    }

    footer {
        text-align: center;
        top: 0;
    }

    .tagline {
        font-size: 30px;
    }

    .home_shop-info {
        justify-content: space-around;
    }

    .pricing_board {
        padding: 15px 20px 30px 20px;
        max-width: 215px;
    }

    .pricing_list {
        font-size: 18px;
    }

    .home_hours {
        width: 90%;
    }

    .home_hours_open {
        font-size: 37px;
    }

    .home_hours_column {
        width: 48%;
        font-size: 24px;
        color: #291C11;
        text-shadow: var(--text-shadow_gold);
    }

    .home_hours_am-pm {
        font-size: 18px;
    }

    .home_hours_closed {
        font-size: 18px;
        color: #4D2F17;
        text-shadow: none;
    }

    .parking {
        transform: rotateZ(-10deg);
        left: 25px;
    }

    .pricing_board {
        width: 45%;
        min-width: 185px;
        padding: 15px 20px 30px 20px;
        top: 0;
        left: 0;
    }

    .shield {
        top: -45px;
    }

    .shield img {
        max-height: none;
        height: 385px;
    }

    .home_intro {
        font-size: 17px;
    }
}

@media (max-width: 500px) {
    .tagline {
        top: 24%;
        font-size: 25px;
    }

    .home_intro {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .home_shop-info {
        top: 55px;
    }

    .tagline {
        top: 23%;
        font-size: 24px;
    }

    .pricing_list {
        font-size: 17px;
    }

    .home_shop-info {
        margin-top: 25px;
    }

    .shield {
        width: 95%;
    }

    .gallery_overlay:target {
        padding-bottom: 125px;
    }
}

@media (max-width: 375px) {
    .tagline {
        top: 21%;
        font-size: 22px;
    }

    .contact_address {
        font-size: 18px;
    }

    .contact_phone {
        font-size: 24px;
    }

    .home_hours_column {
        font-size: 18px;
    }

    .home_hours_closed {
        font-size: 15px;
    }

    .home_intro {
        font-size: 15px;
    }

    .gallery_caption {
        margin-bottom: 5px;
    }

    .gallery_nav_btn {
        font-size: 12px;
        margin: 5px 35px;
        width: 40px;
    }

    #gallery_close {
        width: 45px;
        font-size: 12px;
    }
}

@media (max-height: 425px) {
    .gallery_caption {
        font-size: 14px;
        width: 75%;
    }
}