<!-- Gallery Page -->

{{ partial "head.html" . }}

<body>

    <div class="page-container page-container_gallery">
        {{ partial "navbar.html" . }}
        <img class="window-logo" src="/images/window-logo.png">
        <section class="gallery_header">
                {{ $shopInfo := where .Site.Pages ".Params.type" "info"}}
                {{ range $shopInfo}}
            <div class="contact_address">

                <div>{{.Params.streetAddress}}</div>
                <div>Spokane, Washington</div>

            </div>
            <div class="contact_phone">{{.Params.phone}}</div>
            {{end}}
            {{ $galleryIntro := where .Site.Pages ".Params.type" "intro"}}
            {{ range $galleryIntro}}
            <div class="gallery_blurb">{{.Params.intro}}<em> (click on thumbnails to see larger pictures) </em><span
                    class="gallery_credits">photography by: {{.Params.credits}}</span></div>
            {{end}}
        </section>

        <div class="gallery_content">
            <ul class="gallery_container">

                {{range where .Pages ".Params.type" "gallery"}}

                <li class="gallery_thumbnail">
                    <a href="#{{ urlize .Title}}">
                        <img class="gallery_thumbnail_link" src="{{.Params.thumbnail}}" alt="{{.Title}}" />
                        <span class="gallery_thumbnail_overlay">{{.Title}}</span>
                    </a>

                    <div class="gallery_overlay" id="{{urlize .Title}}">
                        <img src="{{.Params.image}}" alt="{{.Title}}" />
                        <div class="gallery_pic-info">
                            <p class="gallery_caption">{{.Params.description}}</p>
                            <div class="gallery_nav">
                                <ul>
                                    <li class="gallery_nav_btn">
                                        {{if .NextInSection}}
                                        <a href="#{{ .NextInSection.Title | urlize}}">prev</a>
                                        {{end}}
                                    </li>
                                    <li class="gallery_nav_btn">
                                        {{if .PrevInSection}}
                                        <a href="#{{.PrevInSection.Title | urlize }}">next</a>
                                        {{end}}
                                    </li>
                                </ul>
                                <a href="/gallery" id="gallery_close">close</a>
                            </div>

                        </div>

                    </div>

                </li>

                {{end}}

            </ul>
        </div>
        <footer class="footer_home">Look Good, Feel Good</footer>
    </div>

</body>

</html>