{{ partial "head.html" . }}

<body>

    <div class="page-container page-container_gallery">
        {{ partial "navbar.html" . }}
        <div class="logo-container">
            <img class="cartouche" src="/images/uploads/cartouche-w-lettering.svg">
        </div>
        <section class="gallery_header">
            <p>This is the Gallery Header</p>
        </section>
        <div class="gallery_content">
            <!-- <h1>{{.Content}}</h1> -->
            <ul class="gallery_container">
                {{range .Params.pics}}
                <li class="gallery_thumbnail">
                    <img src="/images/uploads/thumbnails/{{.}}" />
                </li>
                {{end}}
            </ul>
        </div>
        <footer class="footer_screen">Look Good, Feel Good</footer>
        <footer class="footer_mobile">
            <div>{{.Site.Data.shopInfo.streetAddress}}</div>|
            <div>{{.Site.Data.shopInfo.phone}}</div>
        </footer>

    </div>

</body>

</html>