<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Indy's Barbershop | Spokane</title>
    <meta name="description" content="Indy's Barbershop, a traditional barbershop in Spokane, WA">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700, 900|Oswald:400,500,600|Yesteryear" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
