<nav class="subnav nav_main">
    <ul>
        {{ range .Site.Menus.nav }}
        <li>
            <a href="{{.URL}}">{{.Name}}</a>
        </li>
        {{end}}
    </ul>
</nav>

<nav class="subnav nav_social">
    <ul>
        <li>
            <a href="https://www.instagram.com/indysbarbershop/" target="_blank">
                <img src="/images/instagram-icon.png" alt="Instagram icon">
            </a>
        </li>
        <li>
            <a href="https://tinyurl.com/indys-google">
                <img src="/images/googleplus-icon.png"alt="Google-Plus icon">
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/indysbarbershop/" target="_blank">
                <img src="/images/facebook-icon.png" alt="Facebook icon">
            </a>
        </li>
    </ul>
</nav>