<nav class="subnav nav_main">
    <!-- <ul>
        <li><a href="#">home</a></li>
        <li><a href="#">gallery</a></li>
        <li><a href="#">blog</a></li>
    </ul> -->

    <ul>
        {{ range .Site.Menus.nav }}
        <li>
            <a href="{{.URL}}">{{.Name}}</a>
        </li>
        {{end}}
    </ul>
</nav>

<nav class="subnav nav_social">
    <ul>
        <li>
            <a href="https://www.instagram.com/indysbarbershop/" target="_blank">
                <img src="/images/uploads/instagram-icon.png">
            </a>
        </li>
        <li>
            <a href="https://tinyurl.com/indys-google">
                <img src="/images/uploads/googleplus-icon.png">
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/indysbarbershop/" target="_blank">
                <img src="/images/uploads/facebook-icon.png">
            </a>
        </li>
    </ul>
</nav>