{{ partial "head.html" . }}

<body>

    <div class="page-container page-container_home">
        {{ partial "navbar.html" . }}
        {{ $shopInfo := where .Site.Pages ".Params.type" "info"}}
        {{ range $shopInfo}}
        <div class="home_shop-info">
            <img class="cartouche" src="/images/cartouche-logo.png" alt="Indy's Barbershop logo in old-fashioned sign painter's style">
            <div class="logo-text">
                <h1 class="home_biz-name">Indy's Barbershop</h1>

                <h2 class="tagline">{{ .Params.tagline }}</h2>
            </div>

            <div class="home_contact">
                <div class="contact_address">
                        <a class="address_google-maps" href="https://www.google.com/maps/place/711+N+Monroe+St,+Spokane,+WA+99201/@47.6638506,-117.4291364,17z/data=!3m1!4b1!4m5!3m4!1s0x549e185ed56771eb:0x55100c658974d5b0!8m2!3d47.6638506!4d-117.4269477"
                            target="_blank"><span>{{.Params.streetAddress}}</span>
                    <span>Spokane, Washington</span></a>
                </div>
                <div class="contact_phone"><a href="tel:1-509-808-1959">{{.Params.phone}}</a></div>
            </div>

            <section class="home_hours">
                <h3 class="home_hours_open">Open:</h3>
                <div class="home_hours_days">
                    <div class="home_hours_column">
                        <h3>Tuesday - Friday:</h3>
                        <p>{{.Params.weekdayOpen}}
                            <span class="home_hours_am-pm">A.M. </span>to {{.Params.weekdayClose}}
                            <span class="home_hours_am-pm">P.M.</span>
                        </p>
                    </div>
                    <div class="home_hours_column">
                        <h3>Saturday:</h3>
                        <p>{{.Params.saturdayOpen}}
                            <span class="home_hours_am-pm">A.M. </span>to {{.Params.saturdayClose}}
                            <span class="home_hours_am-pm">P.M.</span>
                        </p>
                    </div>
                    <h4 class="home_hours_closed">closed Sunday &amp; Monday</h4>
                </div>
            </section>
            {{end}}

            <section class="pricing">
                <aside class="parking">FREE PARKING in Back!</aside>
                <div class="pricing_board">
                    <h3 class="pricing_cash">CASH ONLY</h3>
                    <ul class="pricing_list">
                        {{ range where .Pages ".Params.type" "service"}}
                        <li class="pricing_ellipsis"></li>
                        <li class="pricing_line">
                            <div>
                                <span class="pricing_service">{{.Params.title}}</span>
                                <span class="pricing_price">{{.Params.price}}</span>
                            </div>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </section>
        </div>

        <div class="home_content">
            <img class="home_pic" src="images/billiards_home.jpg" alt="Jason Krause, owner, trims a customer's hair at Indy's with vintage billiard table in foreground">
            <div class="shield">
                <img src="images/shield.png" alt="" />
                <section class="home_intro">
                    <!-- Will need to make this text editable -->
                    <p>Indy's is a traditional barbershop in Spokane, Washington, located one block from Spokane Falls
                        in the
                        historic late-1880’s Dresden building. We offer quality haircuts and fades, hot-towel
                        straight-razor
                        shaves, and beard trims.
                    </p>
                    <p>Get a haircut or hot-towel shave at an affordable price, check out the antique decor, play a
                        game of
                        billiards, have some good conversation, and enjoy your time with us!</p>
                    <h4 class="home_intro-emphasis">No appointment necessary. You're next!</h4>
                </section>
            </div>
        </div>

        <footer class="footer_home">Look Good, Feel Good</footer>

    </div>

    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

</body>

</html>